<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codered">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/codered_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/codered_splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".deletestudent"
            android:screenOrientation="portrait"/>
        <activity android:name=".total_payment"
            android:screenOrientation="portrait"/>
        <activity android:name=".add_student"
            android:screenOrientation="portrait"/>
        <activity android:name=".add_payment"
            android:screenOrientation="portrait"/>
        <activity android:name=".admin_login"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>